body {
  margin: 0 auto;
}
section > div {
  margin: 8px 5px;
  clear: both;
}
section  div  img {
  height: 100px;
  width: 100px;
  float: left;
  margin: 5px;
}
section h3 {
  display: inline;
}
section span {
  display: block;
}
